@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

*{
    font-family: "Orbitron";
    letter-spacing: 2px;
}

/* styling for both homepg, devlog pg*/
.home, .devlogs, .about-me, .passion, .video_games_pages{
    background-image: linear-gradient(rgba(124, 177, 232,0.5), rgba(244, 249, 253,1), rgba(124, 177, 232,0.5));
    background-repeat: no-repeat;
    
}

hr{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #305978;
}

button{
    width: 100px;
    height: 25px;
    border: none;
    background-color: #305978;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: -2px 2px 10px #305978;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover{
    box-shadow: -2px 2px 20px #305978;
    transform: scale(1.02);
}

#container{
    width: 1500px;
    height: 100vh;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* styling for home page */

#marquee{
    width: 100%;
    direction: left;
    height: 20px;
    color: #305978;
}

header{
    height: 100px;
    text-align: left;
    border-radius: 20px;
    font-size: 25px;
    color: #305978;
    display: flex;
    gap: 10px;
}

#gif{
    width: 80px;
}

/* styling for both homepg, devlog pg */
#content{
    width: 1500px;
    height: 100vh;
    display: flex;
    gap: 45px;
}

article{
    width: 15%;
}

/* styling for both homepg aside */
.main-content-right{
    width: 25%;
    height: 800px;
}

/* styling for both homepg main */
.main-content-home{
    width: 60%;
    height: 800px;
}

#left, #middle, #right{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
}


.box{
    background-color: #f4f9fd;
    border: 3px solid #305978;
    box-shadow: -2px 2px 10px #305978;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.box:hover{
    box-shadow: -2px 2px 20px #305978;
    transform: scale(1.01);
}

#info{
    height: 375px;
}

#left #pfp{
    width: 215px;
}

#left #info #stats p{
    margin: 10px;
    text-align: left;
    font-size: 16px;
    color: #305978;
}

#left nav{
    text-align: center;
}

#left nav p, #info-title, #socials p, #middle #desc-title, #middle #updates-title, .devlog-aside #title, .devlog-section #title, .about-me-aside #title, .about-me-section #title, .game-section #title{
    display: block;
    margin: 0;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #305978;
}

#left ul, #right ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

#left li a, #right li a{
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: #305978;
}


#left li a:hover, #right li a:hover{
    background-color: #305978;
    color: white;
}

#desc{
    height: 300px;
    width: 850px;
}

#updates{
    height: 150px;
    width: 850px;
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

/* track */
::-webkit-scrollbar-track{
    background-color: #f4f9fd;
    box-shadow: inset 0px 0px 5px #305978;
}

/* handle */
::-webkit-scrollbar-thumb{
    background-color: #305978;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f4f9fd;
}

#desc p, #updates p, #devlog-desc p,#devlog-section-1 p, #image-carousel p, #image-carousel h3, .game-section p{
    padding: 10px;
    margin: 0;
    color: #305978;
    font-size: 16px;
}

.quote{
    border-left: 5px solid #305978;
    padding: 15px;
    font-size: 20px;
    color: #305978;
    text-shadow: 2px 2px 4px #305978;
}

.carousel{
    width: 360px;
    height: 500px;
    overflow: hidden;
}

.image-track{
    display: flex;
    flex-direction: column;
    animation: scroll-up 15s linear infinite;
}

.image-track img{
    width: auto;
    height: auto;
    object-fit: cover;
}

@keyframes scroll-up {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2400px);
    }
}

.image-track:hover{
    animation-play-state: paused;
}

/* styling for devlog page */
.devlog-aside{
    width: 40%;
    height: 800px;
}

.devlog-section{
    width: 60%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
}

#devlog-desc{
    width: 550px;
    height: 300px;
}

#devlog-section-1{
    width: 400px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

/* Styling for About Me Page */

.about-me-section{
    width: 40%;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-me-aside{
    width: 60%;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}

.about-me-section #profile-card{
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 20px;
    color: #305978;
}

.about-me-aside #stats{
    width: 700px;
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #305978;
}

.about-me-aside #stats img{
    width: 250px;
}

.about-me-aside #stats #stat-txt{
    width: 330px;
    margin: auto;
}

.about-me-aside #stat-txt p{
    margin-left: 15px;
}

.about-me-aside #holder{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.about-me-aside #holder #inventory, #quests{
    width: 325px;
    height: 250px;
    color: #305978;
    font-size: 18px;
}

.about-me-section #facts{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-me-section #pfp{
    width: 175px;
    border: 3px solid #305978;
}

.about-me-section #desc{
    border: 3px solid #305978;
    width: 525px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.about-me-aside #more-socials{
    width: 700px;
    height: 105px;
}

.about-me-aside #more-socials img{
    width: 75px;
    margin: 15px;
    border: 3px solid #305978;
    box-shadow: -2px 2px 10px #305978;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.about-me-aside #more-socials img:hover{
    box-shadow: -2px 2px 20px #305978;
    transform: scale(1.02);
}

/* Styling for shrine page */

.passion-aside{
    width: 30%;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #305978;
}

.passion-section{
    width: 70%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    color: #305978;
}

.library{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px;
    width: 1050px;
    height: 1000px;
    overflow: scroll;
    overflow-x: hidden;
    gap: 40px;
}

.games img{
    width: 225px;
    height: 325px;
    object-fit: cover;
    border: 3px solid #305978;
    box-shadow: -2px 2px 10px #305978;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.games img:hover{
    box-shadow: -2px 2px 15px #305978;
    transform: scale(1.01);
}

.games p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.games{
    width: 225px;
    height: 350px;
    text-align: center;
    padding: 0;   
}

/* Styling for video game pages */

.game-aside{
    width: 30%;
    color: #305978;
}

.game-aside #game-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-aside #game-info img{
    width: 450px;
    height: 600px;
    object-fit: cover;
}

.game-aside #game-info #info-box h3{
    text-align: center;
}

.game-section{
    width: 50%;
    color: #305978;
}

.game-section #yapping{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.game-section #text-box{
    height: 300px;
}

.game-section #text-box

.aside2{
    width: 20%;
    color: #305978;
}

.carousel-aside{
    width: 250px;
    height: 700px;
    overflow: hidden;
}

.carousel-aside #gifs{
    width: 250px;
    height: 250px;
    object-fit: cover;
}