@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

*{
    font-family: "Orbitron";
}

body{
    background-image: linear-gradient(rgba(124, 177, 232,0.5), rgba(244, 249, 253,1), rgba(124, 177, 232,0.5));
}

hr{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #305978;
}


#container{
    width: 1500px;
    height: 100vh;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    width: 850px;
    height: 100px;
    text-align: left;
    border-radius: 20px;
    font-size: 30px;
    color: #305978;
}

#content{
    width: 1500px;
    height: 600px;
    display: flex;
    gap: 40px;
}

article{
    width: 15%;
}

aside{
    width: 25%;
    height: 600px;
}

section{
    width: 60%;
    height: 600px;
}

#left, #middle, #right{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
}


.box{
    background-color: #f4f9fd;
    border: 3px solid #305978;
    box-shadow: -2px 2px 10px #305978;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.box:hover{
    box-shadow: -2px 2px 20px #305978;
    transform: scale(1.01);
}

#info{
    height: 375px;
}

#left #pfp{
    width: 215px;
}

#left #info #stats p{
    margin: 10px;
    text-align: left;
    font-size: 16px;
    color: #305978;
}

#left nav{
    text-align: center;
}

#left nav p, #info-title, #socials p, #middle #desc-title, #middle #updates-title{
    display: block;
    margin: 0;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #305978;
}

#left ul, #right ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

#left li a, #right li a{
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: #305978;
}


#left li a:hover, #right li a:hover{
    background-color: #305978;
    color: white;
}

#desc{
    height: 200px;
    width: 850px;
}

#updates{
    height: 200px;
    width: 850px;
    overflow: hidden;
}

#desc p, #updates p{
    padding: 15px;
    margin: 0;
    color: #305978;
    font-size: 16px;
}

.carousel{
    width: 360px;
    height: 500px;
    overflow: hidden;
}

.image-track{
    display: flex;
    flex-direction: column;
    animation: scroll-up 15s linear infinite;
}

.image-track img{
    width: auto;
    height: auto;
    object-fit: cover;
}

@keyframes scroll-up {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2400px);
    }
}

.image-track:hover{
    animation-play-state: paused;
}